.dialog {
  width: 450px;
  height: 65px;
  background-color: rgba(60, 180, 90, 1);
}

.dialog:hover {
  /*background-color: rgba(190, 120, 60, 1);*/
}

.dialog .head {
  position: relative;
  top: 5px;
  height: 30px;
}

.dialog .content {
  height: 30px;
  margin-left: 5px;
}

.dialog .name {
  color: black;
  float: left;
  margin-left: 5px;
}

.dialog .date {
  color: darkgray;
  float: right;
  margin-right: 5px;
}

.dialog .message {
  height: 15px;
  width: 80%;
  margin-top: 5px;
  overflow: hidden;
  color: gray;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dialog .count {
  width: 20px;
  height: 20px;
  background-color: rgba(200, 195, 70, 1);
  border-radius: 10px;
  float: right;
  font-size: 10px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
}

.area {
  height: 300px;
  overflow: scroll;
}

.scrollUp {
  transform: translateY(15px);
}

.dialogs .scrollDown {
  transform: translateY(15px);
}

.dialog .animate {
  animation: moveDown 6s ease-in-out 2s backwards;
}
@keyframes moveDown{
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
